[submodule "lib/tor"]
	path = external/tor
	url = https://github.com/torproject/tor.git
[submodule "lib/libressl"]
	path = external/libressl
	url = https://github.com/libressl-portable/portable.git
[submodule "lib/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "lib/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
